<!--<%= @users.inspect %>-->
<!--	<% @users.each do |user| %>-->
	<!--<h1><%= user.name %></h1>
		<div>
			<%= user.email %>
		</div>
		<div>
			<%= user.password %>
		</div>
		<% end %>-->




	  <div class="site__container">

	    <div class="grid__container">
<h1>Inicio de sesión</h1>
	  <form class="form form--login">
	        <div class="form__field">
	          <label class="fontawesome-user" for="login__username"><span class="hidden">Username</span></label>
	          <input id="login__username" type="text" class="form__input" id="username" placeholder="Usuario" name="usuario"required>
	        </div>

	        <div class="form__field">
	          <label class="fontawesome-lock" for="login__password"><span class="hidden">Password</span></label>
	          <input id="login__password" type="password" class="form__input" placeholder="Contraseña" name="contrasena" required>
	        </div>

	        <div class="form__field">
	          <input type="submit" value="Sign In">
	        </div>

	      </form>

	      <p class="text--center">¿No estas registrado? <a href="adduser">Registrate ahora</a> <span class="fontawesome-arrow-right"></span></p>

	    </div>

	  </div>


	
	