

<section class="container">
	<div class="formulario">

		<h1>Registro</h1>
		<hr>
		<form accept-charset="UTF-8" action="/users" method="POST" data-remote="true">

			<label>Correo</label><br>	
			<input type="text" name="user[email]" placeholder="E-mail"><br>
			<label>Contrase単a</label><br>
			<input type="password" name="user[password]" placeholder="Contrase単a"><br>
			<label>Repetir Contrase単a</label><br>
			<input type="password" name="user[password2]" placeholder="Repetir contrase単a"><br>
			<label>Nombre completo</label><br>
			<input type="text" name="user[name]" placeholder="Nombre completo"><br>
	
			<hr>
			<input type="submit" value="Listo">
			<a href="#">Ya tengo una cuenta</a>

		</form>
	</div>
	</section>